

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="">

  <title>
  {% block title %}Main{% endblock %} </title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">
  <script src="../assets/js/color-modes.js">
  </script>
  <meta name="theme-color" content="#712cf9">
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
   .b-example-vr{flex-shrink:0;width:1.5rem;height:100vh}
   .bi{vertical-align:-.125em;fill:currentColor}
  </style>
 </head>
{% include 'navbar.html' %}
<body>
        {% block content %}

        {% endblock %}
    </main>
  </div>

  <footer>
    <div class="container text-center">
      <p>&copy; 2025 My Store. All rights reserved.</p>
    </div>
  </footer>


 <script src="../assets/dist/js/bootstrap.bundle.min.js" class="astro-vvvwv3sm">
 </script>

        {% block extra_scripts %}



    {% endblock %}
</body>
</html>
