{% extends 'base.html' %}

{% block content %}
<h2>Your Profile</h2>

<div>
    {% if profile.picture %}
    <p><strong>Picture:</strong><br>
    <img src="{{ profile.picture.url }}" alt="Profile picture" style="max-width: 200px;"></p>
    {% endif %}
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p><strong>Phone:</strong> {{ user.phone|default:"Not provided" }}</p>
    <p><strong>Country:</strong> {{ user.country|default:"Not provided" }}</p>

</div>

<a href="{% url 'users:profile_update' %}">Edit Profile</a>
{% endblock %}
